body {
   background-color: #ffb8d0;
}
.container {
  padding: 1em;
  margin: 1em;
  background-image: url('./fortune-cookie.png');
  background-size: 700px; 
  height: 400px; 
  background-repeat: no-repeat;
  background-position: center;
}
