body {
  background-image: url(./photo.jpeg);
  background-color: rgb(4, 4, 4);
  background-repeat: no-repeat;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#btn {
  background-color: white;
  border: 3px solid white;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
}