html {
  text-align: center;
}
body {
   background-color: #ffb8d0;
}
h1 {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 80px;
}
.container {
  padding: 1em;
  margin: 1em;
  background-image: url('./fortune-cookie.png');
  background-size: 700px; 
  height: 400px; 
  background-repeat: no-repeat;
  background-position: center;
}
#btn {
  border-radius: 8px;
  border: 3px solid black;
  padding: 20px 50px;
  background-color: rgba(255, 200, 112, 1);
  font-size: 15px;
}
p {
  margin-top: 200px; 
  font-family: 'Roboto', sans-serif;
  font-size: 30px; 
  text-align: center;
}